<app-general-layout></app-general-layout>

<div class="header ">
    <div class="container-fluid">

        <h2 style="text-align:center"> Demandes </h2>
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4" class="C">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="float: right;">
                <li class="breadcrumb-item" style="text-align:center"><a href="/Home"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item" style="text-align:center"><a routerLink="/allrequest">Demandes</a></li>
                <li aria-current="page" class="breadcrumb-item active"> Gérer les Demandes</li>
            </ol>
        </nav>
    </div>