<div class="card">
    <div class="card-header pb-0">
        <span class="card-title "> </span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.close()">
            <span aria-hidden="true">&times;</span>
        </button>



    </div>
    <div class="table-responsive">
        <div class="Center">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <h1>les Categories du Demande </h1>
                    <tr>
                        <th scope="col" data-sort="status" class="sort"> categorietype </th>

                        <th scope="col" data-sort="status" class="sort">Actions</th>
                    </tr>
                </thead>
                <tbody class="list" *ngFor="let c of categories |  paginate : { id: 'ActionTypePagination',itemsPerPage: 3, currentPage: p },index as i">
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <ngx-avatar></ngx-avatar>
                                <span class="ml-2">{{c.categorietype}}</span>
                            </div>
                        </td>

                        <td class="d-flex align-items-center ">
                            <div class="btn-group">

                                <button type="button" (click)="delete(c.typerequestCatgID)" class="btn btn-sm btn-secondary"><i
                            class="fas fa-trash text-danger"></i></button>
                            </div>
                        </td>


                    </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Annuler</button> &nbsp;&nbsp;
        </div>
    </div>
    <div class="card-footer">
        <pagination-controls id="ActionTypePagination" class="my-pagination text-right" (pageChange)="p = $event" previousLabel="Prec" nextLabel="Suiv" *ngIf="categories.length>1">
        </pagination-controls>
    </div>
</div>