.center {
    position: fixed;
    top: 45%;
    left: 55%;
    margin-top: -100px;
    margin-left: -100px;
}

.C {
    position: fixed;
    top: 33%;
    left: 45%;
    margin-top: -100px;
    margin-left: -100px;
}