<div class="card">
    <div class="card-header pb-0">
        <span class="card-title ">Ajouter Demande </span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">

        <form [formGroup]="searchForm" novalidate (ngSubmit)="submit()">

            <div class="form-group">
                <label>Organismes</label>
                <select class="form-control" formControlName="fk_Organisme">
                
                    
                    <option value="1">-Pas de Sélection-</option>
                    <option *ngFor="let colab  of  organismes " [value]="colab.organismeId">{{colab.name}}</option>            
                    </select>
                <br>
                <label>TypeRequest</label>
                <select class="form-control" formControlName="fk_RequestType">
                
                    
                    <option value="1">-Pas de Sélection-</option>
                    <option *ngFor="let colab  of  ts " [value]="colab.requestTypeId">{{colab.requestTypeName}}</option>            
                    </select>
                <br>
                <label>Description </label>
                <input type="text" class="form-control" formControlName="RequestDescription">
                <br>
                <label class="btn btn-secondary" (click)="fileInput.value = null">
                    Choose File
                    <input
                      #fileInput
                      type="file"
                
                      style="display: none;"
                      (change)="chooseFile(fileInput.files)"
                    />
                  </label>
                <div class=" d-flex flex-row-reverse">
                    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Annuler</button> &nbsp;&nbsp;

                    <button type="submit" class="btn btn-primary">Enregistrer</button>

                </div>
            </div>
        </form>

    </div>
</div>