<div class="card">
    <div class="card-header pb-0">
        <span class="card-title ">Ajouter Demande </span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">

        <form [formGroup]="searchForm" novalidate (ngSubmit)="submit()">

            <div class="form-group">
                <label>Organismes</label>
                <select class="form-control" formControlName="fk_Organisme">
                
                    
                    <option value="1">-Pas de Sélection-</option>
                    <option *ngFor="let colab  of  organismes " [value]="colab.id">{{colab.name}}</option>            
                    </select>
                <br>
                <label>TypeRequest</label>
                <select class="form-control" formControlName="fk_request">
                
                    
                    <option value="1">-Pas de Sélection-</option>
                    <option *ngFor="let colab  of  ts " [value]="colab.requestTypeId">{{colab.requestTypeName}}</option>            
                    </select>
                <br>
                <label>Description </label>
                <input type="text" class="form-control" name="Description" #Description="ngModel" ngModel required>
                <br>
                <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
                <button type="button" class="btn btn-primary" (click)="file.click()">Upload File</button>

                <div class=" d-flex flex-row-reverse">
                    <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Annuler</button> &nbsp;&nbsp;

                    <button type="submit" class="btn btn-primary">Enregistrer</button>

                </div>
            </div>
        </form>

    </div>
</div>