<div class="card">
    <div class="card-header pb-0">
        <span class="card-title ">Ajouter Piéce Jointe </span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.close()">
          <span aria-hidden="true">&times;</span>
      </button>
        <br>
        <br>
        <label class="btn btn-secondary" (click)="fileInput.value = null">
          Choisir Fichier 
    <input
      #fileInput
      type="file"

      style="display: none;"
      (change)="chooseFile(fileInput.files)"
    />
  </label>


        <div class=" d-flex flex-row-reverse">
            <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Annuler</button> &nbsp;&nbsp;

            <button (click)="upload()" class="btn btn-primary">Enregistrer</button>

        </div>