.Center {
    position: fixed;
    width: 77%;
    top: 49%;
    left: 30%;
    margin-top: -80 px;
    margin-left: -100px;
}

.Cen {
    position: fixed;
    width: 70%;
    top: 25%;
    left: 30%;
    margin-top: -150 px;
    margin-left: -50px;
}

.C {
    position: fixed;
    align-content: center;
    top: 20%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}