.C {
    position: fixed;
    top: 35%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

.Center {
    position: relative;
    width: 77%;
    top: 35%;
    left: 30%;
    margin-top: -80 px;
    margin-left: -100px;
}