<div class="header ">
    <div class="container-fluid">

        <h2 style="text-align:center"> Details </h2>
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4" class="C">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark" style="float: right;">
                <li class="breadcrumb-item" style="text-align:center"><a href="/Home"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item" style="text-align:center"><a href="/allrequest">Demandes</a></li>
                <li aria-current="page" class="breadcrumb-item active"> Détails</li>
            </ol>
        </nav>

    </div>
    <div class="Cen">
        <h4> Status de Demande : {{status}}</h4>

        <p> Description : {{Description}}</p>
        <h4> Demandeur : {{username}}</h4>


        <h4> Date de Creation : {{creationDate}}</h4>
    </div>
    <div class="Center">
        <div class="card">
            <div class="card-header">



                <form>
                    <div class="row align-items-center">
                        <div class="col-4 text-left">
                            <a (click)="addPieces()" class="btn btn-outline-primary"><span class="btn-inner--icon" ><i
                                    class="fas fa-plus-circle"></i></span> Ajouter une pièce jointe </a>
                        </div>

                        <div class="col-4">
                            <input type="text" name="search" class="form-control" placeholder="rechercher" [(ngModel)]="search" (ngModelChange)="Search()">
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>

                            <th scope="col" data-sort="status" class="sort"> Nom du Fichier </th>
                            <th scope="col" data-sort="status" class="sort">Suprimer </th>

                            <th scope="col" data-sort="status" class="sort">Actions</th>
                        </tr>
                    </thead>

                    <tbody class="list" *ngFor="let c of pieces | paginate : { id: 'ActionTypePagination',itemsPerPage: 2, currentPage: p };index as i ">
                        <tr>


                            <td>
                                <div class="d-flex align-items-center">
                                    <ngx-avatar></ngx-avatar>
                                    <span class="ml-2">  {{c.name}} </span>
                                </div>
                            </td>
                            <td>


                                <button type="button" (click)="delete(c.pieceId)" class="btn btn-sm btn-secondary"><i
                                            class="fas fa-trash text-danger"></i></button>

                            </td>
                            <td class="d-flex ">
                                <div class="btn-group">

                                    <button type="button" (click)="getp(c.pieceId,c.name)" class="btn btn-outline-primary">Télécharger </button>
                                </div>
                            </td>



                        </tr>


                    </tbody>
                </table>
            </div>


            <div class="card-footer" *ngIf="l>2">
                <pagination-controls id="ActionTypePagination" class="my-pagination text-right" (pageChange)="p = $event" previousLabel="Prec" nextLabel="Suiv" *ngIf="l >2">
                </pagination-controls>
            </div>
        </div>
    </div>