<div>

    <body>
        <h1 style="text-align:center">
            Bienvenue {{username}}
        </h1>
        <!-- <h1 style="text-align:center">
            Bienvenue {{username}}
        </h1>
        <div class="card-group">
            <div class="card">

                <div class="card-body-border-primary ">
                    <h3 class="card-title">Nombre Totale de Demande lanceé </h3>
                    <br>
                    <br>
                    <h2 class="n">{{total}}</h2>
                    <br>
                    <br>
                </div>

            </div>
            <div class="card">

                <div class="card-body-border-primary">
                    <h3 class="card-title">Nombre DE Demande Pas encore Valideé</h3>
                    <br>
                    <br>
                    <h2 class="n">{{notDone}}</h2>
                    <br>
                    <br>
                </div>

            </div>
            <div class="card">

                <div class="card-body-border-primary">
                    <h3 class="card-title">Nombre De Demande EN Cours du Traitement</h3>
                    <br>
                    <br>
                    <h2 class="n">{{Cours}}</h2>
                    <br>
                    <br>
                </div>

            </div>
        </div> -->
        <div class="e">
            <canvas baseChart [datasets]="data" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend" [type]="chartType"></canvas>
        </div>

        <!-- <div style="display: block">
            <canvas baseChart [datasets]="data" [labels]="chartLabels" [options]="chartOptions" [legend]="chartLegend" [type]="chartType"></canvas>

        </div> -->
        <!-- <div class="e">
            <canvas baseChart [datasets]="data" [labels]="pieChartLabels" [options]="chartOptions" [type]=" pieChartType"></canvas>
        </div> -->
        <!-- <div class="container">
            <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
                <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                    <input class="fs-5 fw-semibold" [(ngModel)]="username" />
                </div>
                <div class="list-group list-group-flush border-bottom scrollarea">
                    <div class="list-group-item list-group-item-action py-3 lh-tight" *ngFor="let msg of d">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <strong class="mb-1">{{d.username}}</strong>
                        </div>
                        <div class="col-10 mb-1 small">{{msg.message}}</div>
                    </div>
                </div>
            </div>
            <form (submit)="submit()">
                <input class="form-control" placeholder="Write a message" [value]="message" (change)="message = $event.target.value" />
            </form>
        </div>
    </body> -->

        <!-- </div> -->