.n {
    position: relative;
    top: 20%;
    left: 60%;
    margin-top: -10px;
    margin-left: -80px;
}

.C {
    position: relative;
    top: 20%;
    margin-top: 20px;
    // margin-left: -80px;
    width: 240px;
    left: 65%;
}

.e {
    width: 650px;
    margin-left: 50px;
}