<div class="card">
    <div class="card-header pb-0">
        <span class="card-title ">Gérer Nature Dossier  </span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="activeModal.close()">
            <span aria-hidden="true">&times;</span>
        </button>


    </div>
    <div class="card-body">

        <form #f="ngForm" (ngSubmit)="onSubmit(f)">

            <div class="form-group">
                <label>Nature Dossier  </label>
                <input type="text" class="form-control" placeholder="Nature Dossier" name="categorytype" #categorytype="ngModel" ngModel required>


            </div>

            <div class=" d-flex flex-row-reverse">
                <button type="button" class="btn btn-secondary" (click)="activeModal.close()">Annuler</button> &nbsp;&nbsp;

                <button type="submit" class="btn btn-primary">Enregistrer</button>

            </div>
        </form>

    </div>

</div>